<p>MINHAS CONTAS</p>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Agência</th>
      <th scope="col">Número da Conta</th>
      <th scope="col">Saldo</th>
      <th scope="col">Nome do Cliente</th>
      <th scope="col">E-mail do Cliente</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let conta of contas">
      <th scope="row">{{ conta.agencia }}</th>
      <td>{{ conta.numero }}</td>
      <td>{{ conta.saldo }}</td>
      <td>{{ conta.cliente.nome }}</td>
      <td>{{ conta.cliente.email }}</td>
    </tr>
  </tbody>
</table>
